*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}

button.bg-white,
button.bg-white * {
  color: #0f172a !important;
}